doctype html
html
    head
        block head
            title Travel Call Center
            link(href='http://fonts.googleapis.com/css?family=Questrial|Julius+Sans+One', rel='stylesheet', type='text/css')
            link(href='#{cdnLocation}/lib/extjs-4.x/resources/ext-theme-neptune/ext-theme-neptune-all.css', media="screen", rel="stylesheet", type="text/css")
            link(href='#{cdnLocation}/lib/font-awesome/css/font-awesome.min.css', media="screen", rel="stylesheet", type="text/css")
            script(src='https://maps.googleapis.com/maps/api/js?v=3&sensor=true')
            script(src='#{cdnLocation}/lib/extjs-4.x/ext-all.js')
            script(src='#{cdnLocation}/lib/extjs-4.x/ext-theme-neptune.js')
            script(src='#{cdnLocation}/lib/glu/glu-extjs-4.js')
            script(src='#{cdnLocation}/lib/glu/glu.js')
            script(src='lib/ux/ux-extjs.js')
            script(src='lib/ux/GMapPanel.js')
            link(href='lib/ux/resources/css/glu-ux-extjs.css', media="screen", rel="stylesheet", type="text/css")
            script(src='#{cdnLocation}/lib/socket.io.js')
    body
        block body